@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #618196;
    --secondary-color: #9EADC8;
    --accent1-color: #F6F5AE;
    --accent2-color: #768948;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Oswald', sans-serif;

    --nav-background-color: #8F7E4F;
    --nav-link-color: #444;
    --nav-hover-link-color: #445;
    --nav-hover-background-color: #448;
}

h1,
p {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    width: 800px;
    text-align: center;
    background-color: rgba(53, 53, 53, 0.8);
    position: absolute;
    top: 10%;
}

.hero article {
    position: absolute;
    top: 30%;
}

.hero article {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px;
    padding: 20px;
}

.hero article img {
    width: 100px;
    float: right;
}

.sociallinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sociallinks a {
    width: 60px;
}