@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #618196;
    --secondary-color: #9EADC8;
    --accent1-color: #F6F5AE;
    --accent2-color: #768948;

    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Oswald', sans-serif;

    --nav-background-color: #8F7E4F;
    --nav-link-color: #444;
    --nav-hover-link-color: #445;
    --nav-hover-background-color: #448;
}

h1,
p {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header img {
    margin: 0 5rem 0 5rem;
    width: 64px;
    height: auto;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    width: 800px;
    text-align: center;
    background-color: rgba(53, 53, 53, 0.8);
    position: absolute;
    top: 10%;
}

.hero article {
    position: absolute;
    top: 30%;
}

.hero article {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px;
    padding: 20px;
}

.hero article img {
    width: 100px;
    float: right;
}

.titles {
    text-align: center;
}

.history-content {
    display: flex;
    align-items: center;
    text-align: justify;
}

.history-content p {
    padding: 0.5rem;
}

.history-content img {
    width: 250px;
}

.adventure-images {
    display: flex;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    max-width: 150px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sociallinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sociallinks a {
    width: 60px;
}

.sociallinks img {
    width: 50px;
}